# vim related
*.swo
*.swp
*~

# GHC build goo
build/
dist/
docs/
out/
*.dump-*
*.hi
*.hi-boot
*.lo
*.o
*.o-boot
*.p_hi
*.p_o

# GHC profiling files
.hpc/
*.hcr
*.hp
*.prof

# Cabal sandbox
.cabal-sandbox/
cabal.sandbox.config

# GHC stub files
*_stub.c
*_stub.h

# OS X symbol packages
*.dSYM/

# OS X
.DS_STORE

# KDE properties
.directory
